html {
    height: 100vh;
    background-image: linear-gradient(180deg, #ffc0c1, #FD9795);
    background-repeat: no-repeat;
    background-size: auto;
    font-family: "Times New Roman ps", Times, serif;
    font-weight: bold;
}

body {
    width: fit-content;
    margin: 10px auto;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 0px 70px 10px;
    animation-name: intro;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}

.fadeIn {
    opacity: 0;
    animation: fadeInText 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    font-family: Verdana, sans-serif;
}

#input1 {
    border-radius: 0.4cap;
    font-weight: bold;
    border: 2px solid gray;
}

#input1:focus {
    border-radius: 0.4cap;
    font-weight: bold;
    border: solid;
    border-color: #7D9BC4;
    outline: none;
}

#input1::content {
    border-color: #7D9BC4;
}

ul {
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    background-color: white;
    animation-name: tasks;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
}

ul li span:hover {
    text-decoration: line-through;
}


ul li {
    cursor: pointer;
}

.deleteBtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
}

#addText {
    font-weight: bold;
}

.completed {
    text-decoration: line-through;
    color: grey;
}

.warning {
    color: red;
    text-align: center;
    display: none;
    font-size: 10px;
    animation-name: warningText;
    animation-duration: 1s;
}

@keyframes warningText {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes intro {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeInText {
    to {
        opacity: 1;
    }
}

.delay1 {
    animation-delay: 0s;
}

.delay2 {
    animation-delay: 0.75s;
}

.delay3 {
    animation-delay: 1s;
}

@keyframes tasks {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animated-task {
    animation: tasks 0.5s ease-in-out forwards;
}